
#options {
	-webkit-user-select: none;
	position: absolute;
	left:0;
	right: 0;
	bottom: 0;
	top: 0;
	display: none;
}

#options:target {
	display: block;
}

#options input[type=text] {
	width: 95%
}
